# python related
__pycache__
*.pyc
*.pyo
*.pyperf
.tox/
.pytest
.pytest_cache
*.prices
# python virtualenv
venv/
.venv/

# python package stuff
*.egg-info/
.eggs/

# project-stuff
build/
dist/
data/
tmp/
test/

# testing
.coverage
test-data/

# coding environment
*.suo
.project
.pydevproject
.vscode
.private

# scm
*.orig
*.prev
*.last

# misc
import.txt
/config.sh
*.prices
misc/*.csv
wip/
pycallgraph.png



